body {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 30px 0 0;
}

.master-container {
    width: 1125px;
    align-items: center;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1150px;
    color: white;
    margin-top: 10%;
}

.nav-links {
    text-decoration: none;
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin-right: 25px;
    font-size: 15px;
    padding: 16px 34px;
    background-color: black;
    border-radius: 37px;
}

#current-page {
    background-color: #FF0000;
    box-shadow: 0 0 60px 0 #F00;
}

/* Section Recherche */
h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
}

#search {
    border-radius: 60px;
    width: 90%;
    padding: 46px 61px;
    background-color: #2B2B2B;
    border: 0;
    box-shadow: 0 0 60px 0 black;
    margin-top: 20px;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

#search::placeholder {
    font-size: 30px;
    color: #757575;
    font-weight: bold;
}

